name: run update_cache.py

on:
  schedule:               #TIMES IN CENTRAL TIME
    - cron: '30 17 * * *'  # Runs every day at 11:30 AM
    - cron: '30 19 * * *'  # Runs every day at 1:30 PM
    - cron: '30 20 * * *'  # Runs every day at 2:30 PM
    - cron: '0 23 * * *'  # Runs every day at 5:00 PM
    - cron: '0 0 * * *'  # Runs every day at 6:00 PM
    - cron: '0 1 * * *'  # Runs every day at 7:00 PM
    - cron: '0 3 * * *'  # Runs every day at 9:00 PM
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: run cache updater
        env:
          DB_URL: ${{ secrets.DB_URL }}
        run: |
          python update_cache.py

      
     